.container {
    background-color: #3a004c;
}

.content {
    display: flex;
    padding-block: 10px;
    justify-content: center;

    p {
        color: #ffffff;
        text-align: center;
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 400px;
        line-height: 35.2px;
    }
    strong {
        padding-left: 5px;
        font-weight: 1000;
    }
}
